.App-logo {
  height: 6vmin;
  pointer-events: none;
  padding-right: 1rem;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Century Gothic', 'Candara', Calibri, 'Trebuchet MS', sans-serif;
}

.App-header h1 {
  font-size: 22px;
}
